* {
    font-family: 'Open Sans', sans-serif;
}

.input_form{
    width: 250px;
    position: relative; left: 40px; top: 40px;
}

.login_user{
    font-style: italic;
    position: relative; left: 40px; top: -15px;
}

fieldset{
    font-weight: bold;
    padding-top: 15px;
}

label{
    font-weight: normal;
}

input[type="text"] {
    width: 160px;
    height:20px;
    font-size: 12px;
    background: rgba(196, 196, 196, 0.29);
    border: 1px solid rgba(0, 0, 0, 0.19);
    padding: 0 5px;
    position: relative; left: 15px;
    margin-bottom: 15px;
}

