* {
    font-family: 'Open Sans', sans-serif;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 30%;
  }

.input_form{
    width: 250px;
    margin: 40px;
}

.login_user{
    font-style: italic;
    position: relative; left: 40px; top: -15px;
}

.input_form fieldset{
    font-weight: bold;
    padding-top: 15px;
}

.input_form label{
    font-weight: normal;
    padding: 15px;
}

.input_form input[type="text"] {
    width: 160px;
    height:20px;
    font-size: 12px;
    background: rgba(196, 196, 196, 0.29);
    border: 1px solid rgba(0, 0, 0, 0.19);
    padding: 0 5px;
    position: relative; left: 15px;
    margin-bottom: 15px;
}

.menu_field{
    display: block;
    position: absolute; left: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 15px 0;
    width: 70%;
    background: rgba(216, 214, 214, 0.336);
    
}

.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 30px;
    justify-items: center;
}

.menu_item{
    width: 70%;
    min-height: 250px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.42);
}

.menu_item .default img{
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    width: 80%;
}

.menu_item p{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    align-items: center;
    padding-right: 10px;
    margin: 0 0 10px 0;
}

.menu_item .menu__item-descr{
    text-align: left;
    padding: 0 10px;
    font-weight: normal;
    font-size: 15px;
}

.menu_item .menu__item-price{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px 10px;
    font-weight: bold;
}

.menu_item .eco img{
    border-radius: 3px;
    border: 3px solid rgba(39, 128, 12, 0.795);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 4%;
    width: 80%;
}

.menu_item .discount img{
    border-radius: 3px;
    border: 3px solid rgba(136, 10, 10, 0.795);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 4%;
    width: 80%;
}

.menu_item .hot [data-hot]{
    float: right;
    padding: 0 4%;
    width: 20%;
    border: none;
    margin: 0;
    justify-content: flex-end;
}

.menu_item .hot img{
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 4%;
    width: 80%;
}

.save_goods {
    margin: 0 40px;
}

.all_goods {
    margin: 20px 40px;
}

.user_goods {
    margin: 20px 40px;
}